<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Cart</title>
</head>
<body>
    <h1>Add Item to Cart</h1>
    <ul>
        <li>
            {{ selected_product.name }} - ${{ selected_product.price }}
            <img src="{{ selected_product.image.url }}" alt="{{ selected_product.name }} Image">
            <a href="{% url 'add_to_cart' selected_product.id %}">Add to Cart</a>
        </li>
    </ul>
</body>
</html>
